@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins/Poppins-Thin.ttf');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins/Poppins-ExtraLight.ttf');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins/Poppins-Light.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins/Poppins-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins/Poppins-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins/Poppins-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins/Poppins-ExtraBold.ttf');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins/Poppins-Black.ttf');
    font-weight: 900;
    font-style: normal;
}

:root {
    --purple: #9846FF;
}

body{
    font: 16px 'Poppins';
    margin: 0;
}

h2{
    font-size: 28px;
}

h3{
    font-size: 24px;
}

/*===========PRINCIPAL===========*/

.principal{
    display: grid;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    background-image: url("../images/fundo.jpg");
    background-size: cover;
    padding: 100px 50px;
}

.principal div{
    max-width: 600px;
}

.principal h1{
    font-size: 50px;
    text-align: center;
    margin: 0;
}

.principal p{
    font-size: 18px;
    text-align: center;
}

.principal a{
    display: flex;
    justify-content: center;
    background-color: #9846FF;
    color: #ffffff;
    width: 200px;
    padding: 10px 20px;
    margin: auto;
    font-weight: bold;
    text-decoration: none;
    border-radius: 4px;
}

.principal a:hover{
    background-color: #692fb1;
}

/*===========SERVIÇOS========*/

.meus-servicos{
    padding: 50px 100px;
}

.meus-servicos h2{
    text-align: center;
    color: #9846FF;
}

.servicos{
    display: flex;
    gap: 20px;
    justify-content: center;
}

.servico{
    max-width: 280px;
    padding: 30px;
    border-radius: 4px;
    border: 1px solid #c1c1c1;
    box-shadow: 3px 5px 4px #00000031;
}

.servico img{
    display: block;
    margin: auto;
    width: 35px;
}

.servico h3{
    font-size: 22px;
    text-align: center;
}

/*===========MEUS PROJETOS=============*/

.meus-projetos{
    padding: 50px 100px;
}

.meus-projetos h2{
    text-align: center;
}

.projetos{
    padding: 50px 0;
    max-width: 1000px;
    margin: auto;
}

.projeto{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-bottom: 50px;
}

.img-projeto{
    width: 100%;
    height: 256px;
    background-color: #d9d9d9;
}

.info-projeto h3{
    margin: 20px 0;
}

.btn-projeto{
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    background-color: #9846FF;
    color: #ffffff;
    border-radius: 4px;
}

/*===========CONTATO=============*/

.contato{
    padding: 50px 100px;
}

.form-contato{
    max-width: 680px;
    margin: auto;
    padding: 20px 40px;
    background-color: #9846FF;
    color: #ffffff;
    border-radius: 4px;
    box-shadow: 3px 5px 4px #00000031;
}

.form-contato h2{
    font-size: 28px;
    text-align: center;
}

.form-contato label{
    font-size: 18px;
}

.form-contato input{
    width: 100%;
    font-size: 22px;
    background-color: #ffffff20;
    color: #ffffff;
    border: 1px solid #fff;
    border-radius: 4px;
    margin-bottom: 20px;
}

.btn-enviar{
    display: block;  
    background-color: #ffffff20;
    border: 0px none;
    max-width: 228px;
    margin: auto;
    padding: 5px 10px;
    font-size: 18px;
}

.btn-enviar:hover{
    background-color: #cfa8ff90;
    cursor: pointer;
}

/*===========FOOTER=============*/

footer{
    background-color: #515151;
    margin: 0;
    padding: 13px 0;
}

footer p{
    margin: 0;
    color: #D9D9D9;
    text-align: center;
}

.section {
    padding: 50px 100px;
}

.title {
    width: 100%;
    font-size: 28px;
    text-align: center;
    margin: 0;
}

.bg-color-purple {
    background-color: var(--purple);
}

.bg-color-white {
    background-color: #ffffff;
}

.color-purple {
    color: var(--purple);
}

.color-white {
    color: #ffffff;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding-top: 10px;
}

.skill {
    display: inline-block;
    font-weight: bold;
    text-align: center;
    background-color: #ffffff;
    color: #9846FF;
    padding: 10px 26px;
    border-radius: 4px;
}

@media (max-width: 900px) {
    .section {
        padding: 20px 50px;
    }
}